@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/* variables */
:root {
    --container-color: #f3f3f3;
    --main-color: #7ddcd3;
    --main-color-2: #d7eceb;
    --dark-main-color: #13676b;
    --second-color: #e99f9f;
    --text-color: #212121;
    --text-color-2: #303030;
    --bg-color: #fafafa;
}
::selection{
    color: var(--bg-color);
    background-color: var(--main-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #212121;
}

/* Header */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-items: center;
    align-items: center;
}

.logo img {
    width: 100px;
    display: block;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 50px;
    padding: 0;
}

nav ul li {
    padding: 20px;
}

nav ul li:hover {
    background-color: var(--main-color-2);
    border-radius: 5px;
    transition: .6s;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

.main-menu {
    margin-right: 20px; /* Añadir margen a la derecha */
}

.instagram-link img {
    width: 30px;
    display: block;
    opacity: .8;
}

.hero {
    position: relative;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    text-align: start;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: var(--text-color-2);
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
}

/* main */
main {
    margin: 50px auto;
}
.content {
    max-width: 900px;
    margin: auto;
}
.category-title {
    text-transform: uppercase;
    opacity: .8;
    font-size: 1.3em;
    color: var(--dark-main-color);
}
hr {
    margin: 3px;
    opacity: .5;
}
.filters {
    text-align: center;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}
.filter-item {
    padding: 5px 15px;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: capitalize;
    transition: .3s;
}
.filter-item:hover {
    background-color: var(--container-color);
    color: var(--text-color-2);
    transition: .3s;
    cursor: pointer;
}
.active-filter {
    background-color: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}
.active-filter:hover {
    background-color: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

.cards {
    /* background-color: var(--container-color); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px auto;
    justify-content: center;
    gap: 1.2rem;
}
.card {
    box-shadow: 14px 5px 14px hsla(0, 0%, 47%, 0.05);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 0.3rem;
    background-color: var(--container-color);
    padding: 15px;
}
.card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.3rem;
}
.card-text {
    /* text-align: center; */
}
.product-name {
    color: var(--dark-main-color);
    text-shadow: 3px 3px 5px hsl(355deg 25% 15% / 10%);
    margin: 10px auto;
}
.product-owner {
    color: var(--text-color-2);
    text-shadow: 3px 3px 5px hsl(355deg 25% 15% / 20%);
    margin: 10px auto;
    font-weight: 200;
    font-size: .8em;
}

/* blog section */
.blog-section {
    width: 100%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    background-color: var(--dark-main-color);
}

/* Footer */
footer {
    width: 100%;
    background-color: #f5f5f5;
    color: #212121;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-img {
    width: 200px;
    border-radius: 50%;
}

.footer-links a {
    text-decoration: none;
    color: #212121;
    margin-right: 15px;
}

.footer-contact p {
    margin: 5px 0;
}
